#box_professor{
	width:978px;
	background:#E1E1C4;
	height:auto;
	float:left;
	text-align:left;
	margin:-20px 0 20px 190px;
	border:1px solid #333;
    padding-bottom: 10px;
	}

    
#box_professor table{
	border:1px solid #333;
	padding:10px;
	background:#FFF;
	margin:0 0 10px 0;
	margin:auto;
	font:15px Arial, Helvetica, sans-serif;
	text-align:left;
	}

    #box_professor h1{
        font:20px Arial, Helvetica, sans-serif;
        margin:15px 0 10px 37px;
        color:#000;
        text-align: center;
        }


        #box_professor h3{
            font:15px Arial, Helvetica, sans-serif;
            margin:2px 0 0 37px;
            color:#900;
            }

     #box_professor .a2{
                font:12px Arial, Helvetica, sans-serif;
                margin:30px 0 10px 37px;
                color:#FFF;
                background:rgb(6, 231, 6);
                text-decoration:none;
                padding:10px;
                border:1px solid #000;
                }

     #box_professor .a2:hover{
                    border:1px solid #0FF;
                    background:#030;
                    }
    
    #cadastrar_professor{
        width:978px;
	    background:#E1E1C4;
	    height:auto;
	    float:left;
	    text-align:left;
	    margin:-10px 0 20px 189px;
	    border:1px solid #333;
        padding-top: 30px;
        padding-bottom: 10px;
    }

    #cadastrar_professor table{
        border:1px solid #333;
        padding:10px;
        background:#FFF;
        margin:15px 0 10px 0;
        margin:auto;
        font:15px Arial, Helvetica, sans-serif;
        text-align:left;
        }
       

    #cadastrar_professor .a2{
        font:12px Arial, Helvetica, sans-serif;
        margin:30px 0 10px 37px;
        color:#FFF;
        background:#090;
        text-decoration:none;
        padding:10px;
        border:1px solid #000;
        }
        
        #cadastrar_professor .a2:hover{
            border:1px solid #0FF;
            background:#030;
            }

            #cadastrar_professor h1{
                font:20px Arial, Helvetica, sans-serif;
                margin:15px 0 10px 37px;
                color:#000;
                }
            

 #cadastrar_professor h2{
     font:15px Arial, Helvetica, sans-serif;
     margin:2px 0 0 37px;
     color:#900;
     }


     #cadastrar_professor h1{
        font:15px Arial, Helvetica, sans-serif;
        text-align: center;
        }
                
                    